userdebug_or_eng(`
  allow init debugfs:file write;
')

allow init sysfs:file {setattr};

allow init {
    sensors_persist_file
    persist_drm_file
    mpt_file
}:dir mounton;

allow init firmware_file:dir {mounton setattr};
