allow sensors self:capability sys_nice;
allow sensors qmuxd:unix_stream_socket connectto;
allow sensors qmuxd_socket:dir { write add_name };
allow sensors qmuxd_socket:sock_file { write create setattr };
