[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group G3 Maintainers
	forgeCommitter = group G3 Maintainers
	label-Code-Review = -2..+2 group G3 Maintainers
	label-Verified = -1..+1 group G3 Maintainers
	rebase = group G3 Maintainers
	submit = group G3 Maintainers
